{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Home</title>
</head>
<body>
    <div class="food_div">
    <h1 class="food_title">Food</h1>
    </div>
    <div>
        <ul class="food_categories">
        <li class="food_category_item"><a href="{% url 'sales' %}"><button class="food_category_button" type="button">Sales</button></a></li>
        <li class="food_category_item"><a href="{% url 'waste' %}"><button class="food_category_button" type="button">Waste</button></a></li>
        <li class="food_category_item"><a href="{% url 'ordering' %}"><button class="food_category_button" type="button">Ordering</button></a></li>
    </ul>
    </div>
</body>
</html>
{% endblock content %}