{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales</title>
</head>
<body>
    <div class="food_div">
    <h1 class="food_title">Sales</h1>
    </div>
    {% for bakery_item in bakery_item %}
    <div class="food">
        <h2 class="bakery_item_name">{{ bakery_item.name }}</h2>
        <p>{{ bakery_item.sku }} </p>
    </div>
    {% endfor %}
</body>
</html>
{% endblock content %}