{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
  <title>yourstore</title>
</head>
<body class="home_body">
  <div class="header">
    <div class="inner_header">
      <div class="logo_container">
      <h1>Your<span>Store</span></h1>
    </div>
    <ul class="navigation">
    <button><a href="{% url 'home' %}">Home</a></button>
    <button><a href="{% url 'partners_home' %}">Partners </a></button>
    <button><a href="{% url 'analytics_home' %}">Analytics</a></button>
    <button><a href="#">Contact us</a></button>
    </ul> 
  </div>
<footer>
 I don't know what's going in the footer yet but this is a placeholder.
</footer>
</body>
</html>
{% block content %}
{% endblock content %}
