{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
  <title>yourstore</title>
</head>
<body>
  <div class="header">
    <div class="inner_header">
      <div class="logo_container">
      <h1 class="base_heading">Your<span>Store</span></h1>
      </div>
      <ul class="navigation">
      </ul>
    </div>
  </div>
{% block content %}
{% endblock content %}
</body>
</html>